<div class="row">
    <div class="col-sm-4 offset-md-4">
        <div class="card card-body">
            <form (submit)="submitSuscription()">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" name="name" [(ngModel)]="suscription.name" class="form-control" placeholder="Ej: Juan Perez">
                    <label>Telefono</label>
                    <input type="text" name="phone" [(ngModel)]="suscription.phone" class="form-control" placeholder="Ej: +569 696955510">
                </div>                
                <div class="form-group">
                    <label>Correo</label>
                    <input type="text" name="email" [(ngModel)]="suscription.email" class="form-control" placeholder="Ej: juan.perez@test.com">
                    <label>Rut</label>
                    <input type="text" name="rut" [(ngModel)]="suscription.rut" class="form-control" placeholder="Ej: 16.997.532-1">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        Inscribirme
                    </button>
                </div>
            </form>
        </div>
    </div>            
</div>
